body {
    height: 100vh;
    background-color: #181818;
}

* {
    font-family: Futura, serif;
    color: white;
}

@font-face {
    font-family: East Sea Dodko;
    src: url('fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf');
}

.title {
    margin: 5% auto;

}
.headline {
    display: flex;
    width: fit-content;
    margin: auto;
}
#refresh{
    cursor: pointer;
    margin-left: 100px;
    background-color: transparent;
    border: none;
}
svg {
    fill: white;
}
.correct {
    transition: transform 1s ease-in-out;
}

.correct.scale-up {
    transform: scale(2);
}

.subtitle {
    max-width: 30rem;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin: auto;
}

#status {
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
}

h1 > #r {
    color: rgb(255, 0, 0);
}

h1 > #g {
    color: rgb(0, 255, 0);
}

h1 > #b {
    color: rgb(0, 0, 255);
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 35rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.game-table {
    border-spacing: 10px;
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    margin: auto;
}

#ok {
    cursor: pointer;
    background-color: transparent;
    height: 3rem;
    width: 5rem;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 5px;
}

td {
    width: 33%;
    height: 33%;
    color: rgba(255, 255, 255, 0.67);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    transition: ease-in-out;
}

td:not(.correct) {
    cursor: pointer;
}


p {
    width: 30rem;
    margin: 5% auto;
}
@media (max-width: 500px){
    .game-container{
        height: 32rem;
    }
    .title{
        font-size: 30px;
    }
    .headline {
         flex-direction: column;
    }
    .subtitle {
        width: 18rem;
        font-size: 20px;
    }
    #refresh{
        margin: 10px 0 0 0;
    }
    .game-table {
        margin: 5% auto;
    }
    #ok {
        font-size: 16px;
    }
}


.failure {
    animation: failure 500ms forwards;
}

@keyframes failure {
    0% {
        background-image: radial-gradient(circle at center, red 0%, transparent 0%);
    }
    10% {
        background-image: radial-gradient(circle at center, red 10%, transparent 10%);
    }
    20% {
        background-image: radial-gradient(circle at center, red 20%, transparent 20%);
    }
    30% {
        background-image: radial-gradient(circle at center, red 30%, transparent 30%);
    }
    40% {
        background-image: radial-gradient(circle at center, red 40%, transparent 40%);
    }
    50% {
        background-image: radial-gradient(circle at center, red 50%, transparent 50%);
    }
    60% {
        background-image: radial-gradient(circle at center, red 60%, transparent 60%);
    }
    70% {
        background-image: radial-gradient(circle at center, red 70%, transparent 70%);
    }
    80% {
        background-image: radial-gradient(circle at center, red 80%, transparent 80%);
    }
    90% {
        background-image: radial-gradient(circle at center, red 90%, transparent 90%);
    }
    100% {
        background-image: radial-gradient(circle at center, red 100%, transparent 100%);
    }
}

.success {
    animation: success 500ms forwards;
}

@keyframes success {
    0% {
        background-image: radial-gradient(circle at center, green 0%, transparent 0%);
    }
    10% {
        background-image: radial-gradient(circle at center, green 10%, transparent 10%);
    }
    20% {
        background-image: radial-gradient(circle at center, green 20%, transparent 20%);
    }
    30% {
        background-image: radial-gradient(circle at center, green 30%, transparent 30%);
    }
    40% {
        background-image: radial-gradient(circle at center, green 40%, transparent 40%);
    }
    50% {
        background-image: radial-gradient(circle at center, green 50%, transparent 50%);
    }
    60% {
        background-image: radial-gradient(circle at center, green 60%, transparent 60%);
    }
    70% {
        background-image: radial-gradient(circle at center, green 70%, transparent 70%);
    }
    80% {
        background-image: radial-gradient(circle at center, green 80%, transparent 80%);
    }
    90% {
        background-image: radial-gradient(circle at center, green 90%, transparent 90%);
    }
    100% {
        background-image: radial-gradient(circle at center, green 100%, transparent 100%);
    }
}

